<template>
    <div>
        <blog-create-edit :blog="blog" @create-edit='createEdit'></blog-create-edit>
    </div>
</template>

<script>
import BlogCreateEdit from '../../../components/blog/BlogCreateEdit.vue'

export default {
    components: { BlogCreateEdit },

    /**
     * Declare data type
     * 
     * @returns Object
     */
    data() {
        return {
            blog: {}
        }
    },

    /**
     * Call api blog by id
     * 
     * @returns Object
     */
    created() {
        let id = this.$router.history.current.params.id
        this.$axios.$get(`/blogs/${id}`)
            .then(response =>{
                this.blog = response 
            })
    },
    methods: {
        /**
         * Function send data to api update blog
         * 
         * @param model
         * @returns Boolean
         */
        createEdit(model) {
            if (model) {
                let id = this.$router.history.current.params.id
                this.$axios.$put(`/blogs/${id}`, model)
                .then (() => {
                    this.$router.push('/blog')
                })
            }
        }
    }
}
</script>
