<template>
    <div class="footer d-flex justify-content-center align-items-center">
        Copyright 2022 : 
        <a href="#">Devfast</a>
    </div>
</template>

<style>
    .footer {
        background-color: gray;
        font-size: 20px;
    }
</style>