<template>
    <div class="header">
        <nav class="navbar navbar-dark">
            <a class="col-sm-3 col-md-2 mr-0 text-center" href="#">
                <img src="@/asset/images/devfast-logo.png" alt="devfast-img">
            </a>
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                <a class="nav-link" href="#">Sign out</a>
                </li>
            </ul>
        </nav>
    </div>
</template>

<style>
    .header {
        padding: 10px 0;
        background-color: #201e1e;
    }
    .header a {
        padding: 0;
    }
    img {
        width: 40%;
        height:50px;
    }
</style>