<template>
    <nav class="menu">
        <div>
            <ul class="flex-column">
                <nuxt-link to="/blog">
                    <a class="text-dark" href="#">
                    <li>
                    <font-awesome-icon icon="list" />
                    <span>List</span>    
                    </li>
                    </a>
                </nuxt-link>
                <nuxt-link to="/blog/new">
                    <a class="text-dark" href="#">
                    <li>
                    <font-awesome-icon icon="plus-square" />
                    <span>New</span>
                    </li>
                    </a>
                </nuxt-link>
                <nuxt-link to="/blog/search">
                    <a class="text-dark" href="#">
                    <li>
                    <font-awesome-icon icon="search" />
                    <span>Search</span>
                    </li>
                    </a>
                </nuxt-link>
            </ul>
        </div>
    </nav>
</template>

<style>
    ul li {
        list-style-type: none;
    }
</style>