<template>
  <div>
    <h2>New Blog</h2>
    <div class="form-create">
        <form enctype="multipart/form-data">
            <div class="form-group">
              <label for="title"> Tiêu đề: </label>
              <!-- <ValidationProvide name="title" rules="required" v-slot="{ errors }"> -->
              <input
                type="text"
                name="title"
                id="title"
                class="form-control"
                v-model="innerBlog.title"
              />
              <!-- <span>{{ errors[0] }}</span>
              </ValidationProvide> -->
            </div>

          <div class="">
            <label for="desc"> Mô tả ngắn: </label>
            <textarea
              class="form-control"
              name="des"
              id="desc"
              cols="30"
              rows="5"
              v-model="innerBlog.desc"
            ></textarea>
          </div>

          <div class="">
            <label for="detail"> Chi tiết: </label>
            <textarea
              class="form-control"
              name="detail"
              id="detail"
              cols="30"
              rows="10"
              v-model="innerBlog.detail"
            ></textarea>
          </div>

          <div class="">
            <label for="file">Hình ảnh:</label>
            <input 
            id="files" 
            class="form-control" 
            type="file"
            ref="file"
            />
          </div>

          <div class="">
            <label style="display: flex" for=""> Vị trí: </label>
            <div
              v-for="position in positions"
              :key="position.id"
              class="form-check form-check-inline"
            >
              <input
                type="checkbox"
                v-model="innerBlog.position_id"
                :value="position.id"
                class="form-check-input"
                :id="position.id"
              />
              <label :for="position.id">{{ position.name }}</label>
            </div>
          </div>

          <div class="">
            <label style="display: flex" for="">Public:</label>
            <input type="radio" v-model="innerBlog.public" value="1" id="yes"/>
              <label for="yes">Yes</label>
            <input type="radio" v-model="innerBlog.public" value="0" id="no"/>
              <label for="no">No</label>
          </div>

          <div class="row">
            <div class="col-md-12">
              <label for="">Loại:</label>
              <select
                v-model="innerBlog.category_id"
                class="form-select form-control"
                aria-label="Default select example"
              >
                <option
                  v-for="category in categories"
                  :key="category.id"
                  :value="category.id"
                >
                  {{ category.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="text-center">
            <button
              type="button"
              class="btn btn-success"
              @click="createEdit()"
            >
              Submit
            </button>
            <button type="button" class="btn btn-primary" @click="clearBlog">
              Clear
            </button>
          </div>
        </form>
    </div>
  </div>
</template>

<script>
import { ValidationProvider } from "vee-validate";
export default {
  components: {
    ValidationProvider
  },

  /**
   * Receive data from blog/edit/_id
   * 
   * @returns Object
   */
  props: {
    blog: {
      type: Object,
      default: () => {},
    },
  },

  /**
   * Declare data
   */
  data() {
    return {
      categories: [],
      positions: [],
    }
  },
  computed: {
    innerBlog: {
      get () {
        return this.$props.blog
      },
      set (value) {
        this.$props.blog = value
      }
    } 
  },

  /**
   * Call api data category - position
   * 
   * @returns Array
   */
  created() {
    this.$axios.$get(`/categories`)
      .then(response =>{this.categories = response})
    this.$axios.$get(`/positions`)
      .then(response =>{this.positions = response})
  },
  methods: {
    /**
     * Function send data to api
     * 
     * @returns Object
     */
    createEdit() {
      let model = {
                    title: this.$props.blog.title,
                    desc: this.$props.blog.desc,
                    detail: this.$props.blog.detail,
                    category_id: this.$props.blog.category_id,
                    position_id: this.$props.blog.position_id.join(','),
                    public: this.$props.blog.public,
                    image: this.$props.blog.image
                }
      this.$emit("create-edit", model);
    },

    /**
     * Function clear data in form create edit
     * 
     * @returns Object
     */
    clearBlog() {
      this.blog = {
        position_id: []
      };
    }
  }
};
</script>

<style>
</style>