<template>
    <div>
        <h2>Blog List</h2>
        <div class="form-search">
            <label for="">Title:</label>
            <input class="form-control" type="text" v-model="keyword" placeholder="Search">
            <div class="text-center">
                <button type="submit" class="btn btn-outline-success" @click="searchTitle">Search</button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    /**
     * Declare data
     */
    data() {
        return {
            keyword: ''
        }
    },
    methods: {
        /**
         * Function send data to api
         * 
         * @returns String
         */
        searchTitle() {
            let keyword = this.keyword
            this.$emit('search-title', keyword)
        }
    }
}
</script>

<style>
    .form-search {
        margin-top: 20px;
        background-color: white;
        border-radius: 5px;
        padding: 10px;
    }
</style>