<template>
    <div>
        <h2>Blog List</h2>
        <div class="table-responsive table-list">
            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Tin</th>
                        <th>Loại</th>
                        <th>Trạng thái</th>
                        <th>Vị trí</th>
                        <th>Ngày Public</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="blog in blogs" v-bind:key="blog.id">
                        <td class="text-left">{{ blog.id }}</td>
                        <td class="text-left">{{ blog.title }}</td>
                        <td class="text-left">{{ convertCategoryName(blog.category_id) }}</td>
                        <td>{{ blog.public == 1 ? 'Public' : 'Hidden' }}</td>
                        <td>{{ convertPositionName(blog.position_id) }}</td>
                        <td>{{ formatDate(blog.created_at) }}</td>
                        <td>
                            <nuxt-link :to="'/blog/edit/' + blog.id">
                                <button type="button" class="btn btn-outline-primary">Edit</button>
                            </nuxt-link>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-outline-danger" onclick="return confirm('Are you sure you want to delete this blog')" @click="deleteBlog( blog.id )" >Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
export default {
    /**
     * Receive data from blog/search
     * 
     * @return Array
     */
    props:{
        blogs: {
            type: Array,
            default: () => []
        }
    },

    /**
     * Declare the data type
     */
    data () {
        return {
            blogs: [],
            positions: [],
            categories: []
        }
    },

    /**
     * Call api blogs - categories - positions
     * 
     * @returns Array
     */
    created() {
        this.$axios.$get(`/blogs`)
            .then(response => { this.blogs = response })
            .catch(e => { this.errors.push(e) })
        this.$axios.$get(`/categories`)
            .then(response =>{this.$data.categories = response})
            
        this.$axios.$get(`/positions`)
            .then(response =>{this.$data.positions = response})
    },
    methods: {
        /**
         * Delete blog by id
         * 
         * @param id
         * @return boolean
         */
        deleteBlog(id) {
            this.$axios.$delete(`/blogs/${id}`)
            .then(response => {this.blogs.splice(response, 1)
            })
        },

        /**
         * Convert category name from category table by category_id
         * 
         * @param categoryId
         * @returns String
         */
        convertCategoryName(categoryId) {
            if (this.$data.categories != '') {
                const category = this.$data.categories.find(cate => cate.id == categoryId)
                return category.name
            }
        },

        /**
         * Convert position name from position table by position_id
         * 
         * @param positionId
         * @returns Array
         */
        convertPositionName (positionId) {
            const positionArray = []
            this.positions.map((listPosition) => {
                positionId.map((position) => {
                if (position.trim() == listPosition.id) {
                    positionArray.push(listPosition.name)
                }
                })
            })
            return positionArray.join(', ')
        },

        /**
         * Function format date
         * 
         * @param date
         * @returns String
         */
        formatDate(date) {
            const options = { year: 'numeric', month: 'long', day: 'numeric' }
            return new Date(date).toLocaleDateString('GB', options)
        }
    }
}
</script>

<style>
    .table-list {
        margin-top: 20px;
        background-color: white;
        border-radius: 5px;
    }
</style>