<template>
    <client-only>
        <div class="body">
            <div class="row">
                <div class="col-md-12">
                    <app-header></app-header>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <app-menu></app-menu>
                </div>
                <div class="col-md-9">
                    <div class="content">
                        <Nuxt />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <app-footer></app-footer>
                </div>
            </div>
        </div>
    </client-only>
</template>

<script>
import AppFooter from '../components/AppFooter.vue'
import AppHeader from '../components/AppHeader.vue'
import AppMenu from '../components/AppMenu.vue'
export default {
    components: { AppHeader, AppMenu, AppFooter },

}
</script>

<style>
</style>

