<template>
    <blog-create-edit :blog="blog" @create-edit='createEdit'></blog-create-edit>
</template>

<script>
import BlogCreateEdit from '../../components/blog/BlogCreateEdit.vue'

export default {
    components: { BlogCreateEdit },

    /**
     * Declare data type
     * 
     * @returns Object
     */
    data() {
        return {
            blog: {
                position_id: []
            }
        }
    },
    methods: {
        /**
         * Function send data to api create blog
         * 
         * @param model
         * @returns Boolean
         */
        createEdit(model) {
            if (model) {
                this.$axios.$post(`/blogs`, model)
                .then (() => {
                    this.$router.push('/blog')
                })
            }
        }
    }
}
</script>

<style>

</style>