<template>
    <div>
        <blog-search-form @search-title="searchTitle"></blog-search-form>
        <blog-list :positions="positions"></blog-list>
    </div>
</template>

<script>
import BlogList from '../../components/blog/BlogList.vue'
import BlogSearchForm from '../../components/blog/BlogSearchForm.vue'

export default {
    components: { BlogSearchForm, BlogList },

    /**
     * Declare data type
     * 
     * @returns Array
     */
    data(){
        return {
        blogs: []
        }
    },
    methods: {
        /**
         * Call api blog, search blog by title
         * 
         * @param keyword
         * @returns Object 
         */
        searchTitle(keyword) {
            if (keyword !== '') {
                this.$axios.$get(`/blogs/search/${keyword}`)
                .then(response => {
                    this.blogs = response
                })
            } else {
                this.$axios.$get(`/blogs`)
                .then(response => {
                    this.blogs = response
                })
            }
        }
    }
}
</script>

<style>

</style>